.box {
  width: 200px;
  height: 200px;
  margin-bottom: 8px;
}

.box1 {
  background-color: red;
  position: absolute;
  left: 50%;
  top: 50%;


}

.box2 {
  background-color: green;
}

.box3 {
  background-color: blue;